.search-bar {
  background-image: url("assets/discoverpage_images/Elipse.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 2rem;
  width: 279px;
  height: 48px;
  border-radius: 0.5rem;
}

*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}
