  .menu-button {
    display: none; /* Hide the button on desktop */
  }

  li a {
    text-decoration: none;
    color: #000000;
  }

  li a:hover,
  li a:focus {
    color: #0052F6;
  }

  ul li {
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    /* Display the menu button on mobile */
    .menu-button {
      display: block;
    }
  }
  
  @media (min-width: 1024px) {
    .menu-button {
        /* display:contents; */
    }
     ul {
      display: flex;
     }

     ul li:not(:last-child) {
      margin-right: 20px;
     }
  }